/* Estilos para telas */

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(180, 178, 178);
    font-size: 1em;
}

header > h1 {
    text-align: center;
}

menu ul {
    background-color: gray;
    list-style-type: none;
}

menu li {
    background: rgb(65, 64, 64);
    display: inline-block;
    padding: 10px;
    color: white;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}
